alias sdn="sudo shutdown now"
alias psref="gpg-connect-agent RELOADAGENT /bye" # Refresh gpg

alias v="nvim"
alias vim="nvim"
alias sv="sudo vim"
alias g="git"
alias trem="transmission-remote-gtk"
alias mkd="mkdir -pv"
alias ref="shortcuts && source ~/.zshrc" # Refresh shortcuts manually and reload zshrc
alias yc="yay -Yc"
alias cdgo="cd /home/yuu/dev/golang"
alias vc="sudo protonvpn c"
alias vd="sudo protonvpn d"
alias psql="psql -h /home/yuu/postgres/data/postgresql"
alias vboxstart="vboxmanage startvm"
alias vboxlist="vboxmanage list vms"

mcd () { mkdir -p -- "$1" && cd -- "$1" }

alias grep="grep --color=auto"
alias diff="diff --color=auto"
alias capture="xclip -selection clipboard -t image/png -i"

alias ls='ls --color=tty'
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}'

alias backup='sudo rsync -avh ~/books_tuts/ backup --delete && sudo rsync -avh ~/vmware/Windows\ 10\ x64/ backup --delete'
# Internet
alias yt="youtube-dl --add-metadata -ic" # Download video link
alias yta="yt -x -f bestaudio/best" # Download only audio
alias YT="youtube-viewer"
alias setclip="xclip -selection c"
alias getclip="xclip -selection c -o"

# GDB
alias gdbbt="gdb --batch --ex run --ex bt --ex q --args"

# Capture
alias scrot="scrot -q 100"
alias scrots="scrot -q 100 -s"

# sync latest 20 best mirro
alias mirror="sudo reflector --latest 20 --sort rate --save /etc/pacman.d/mirrorlist"

# checkip
alias checkip="curl https://ipinfo.io/ip && curl https://ipinfo.io/country"

# # reset wall paper
# alias wall="feh --bg-scale ~/.config/wall.jpg"

# kubernetes
alias k=kubectl
alias kcd='kubectl config set-context $(kubectl config current-context) --namespace '
alias ke=kubeval

alias resetkeys="setxkbmap"
alias resetbar="~/.config/polybar/launch.sh"
